.card-title{
    text-align: center;
    margin-top: 40%;
    transition: .5s ease;
    opacity: 0;
}

h2{
  font-size:25px;
}
p{
  font-size:15px
}
.image {
    transition: .5s ease;
  }

.card:hover .card-title {
    opacity: 1;
  }

  .card .title{
    border-style: solid;  
  }

.card:hover .image{
    opacity: 0.2;
  
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  h2{
    font-size:1.75vw;
  }
  
  p{
    font-size:1.25vw;
  }
}


