
.events{
    padding-bottom: 10px;
}

.card-title{
    text-align: center;
    margin-top: 50%;
    transition: .5s ease;
    opacity: 0;
}

.image {
    transition: .5s ease;
  }

.card:hover .card-title {
    opacity: 1;
    border-style: solid;
  }

.card:hover .image{
    opacity: 0.2;
  
}