
.carousel {
    height: 100vh;
}

.carousel-caption {
    font-size:3.5rem;
    top: 20%;
    bottom: auto;
    color:black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 1200px){
    .carousel-caption{
        font-size: 2.5rem;
        left: 0;
        right: 0;
        top:10%;
    }
    .carousel{
        height:unset !important;
    }
}