
.carousel {
    height: 100vh;
}


.carousel-caption {
    top: 20%;
    bottom: auto;
    color:black;
}

@media screen and (max-width: 1200px){
    .carousel-caption{
        font-size: 30px;
        left: 0;
        right: 0;
        top:10%;
    }
    .carousel{
        height:unset !important;
    }
}