body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer a {
  color:black !important;
}
@media only screen and (max-width: 900px){
.follow-us .fa{
  padding-bottom: 1.5rem;
}
.navbar-nav{
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 1.7rem;
}
}
