body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-container{
  position: relative;
  min-height: 100vh;
}
.container{
  padding-bottom: 2.5rem;
}

.navbar-toggler>.close {
  display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.open {
  display:none;
}

.bg-custom{
  background: url(./images/wave.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 180%;
}


.space{
  padding-top:100px;
}

.footer-bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem
}

footer a {
  color:black !important;
}




@media only screen and (max-width: 900px){
.bg-custom{
  background-size:cover !important;
  background: url('./images/wave_mobile.svg');
}
.space{
  padding-top:5rem !important;
}

  .follow-us .fa{
  padding-bottom: 1.5rem;
}

.navbar-nav{
  padding-top: 50px;
  padding-bottom: 100vh;
  font-size: 2.5rem;
  text-align: center;
}

body{
  padding-top:51px;
}

.navbar{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin-bottom: 10px;
  z-index:1030;
}
}

